{% extends 'base.html' %}
{% load static %}
{% block content %}


               <!-- banner section start --> 
               <div class="container-fluid">
                  <div class="banner_section layout_padding">
                     <h1 class="banner_taital">welcome <br>our blog</h1>
                     <div id="my_slider" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                           <div class="carousel-item active">
                              <div class="image_main">
                                 <div class="container">
                                    <img src="{% static 'images/img-1.png' %}" class="image_1">
                                    <div class="contact_bt"><a href="/contact">Contact Us</a></div>
                                 </div>
                              </div>
                           </div>
                           <div class="carousel-item">
                              <div class="image_main">
                                 <div class="container">
                                    <img src="{% static 'images/img-2.png' %}" class="image_1">
                                    <div class="contact_bt"><a href="/contact">Contact Us</a></div>
                                 </div>
                              </div>
                           </div>
                           <div class="carousel-item">
                              <div class="image_main">
                                 <div class="container">
                                    <img src="{% static 'images/img-3.png' %}" class="image_1">
                                    <div class="contact_bt"><a href="/contact">Contact Us</a></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                        </a>
                     </div>
                  </div>
               </div> 

      <!-- blog section start --> 
      {% for post in object_list %}
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-8 col-sm-12">

                  
                  <div class="about_img"><img src="{{ post.image.url }}"></div>
                  <div class="like_icon"><img src="{% static 'images/like-icon.png' %}"></div>
                  <p class="post_text">Post By <a>{{ post.author }}</a> {{ post.date|date:"F d, Y" }}</p>
                  <h2 class="most_text">{{ post.title }}</h2>
                  <p class="lorem_text">{{ post.subtitle }}</p>
                  <div class="social_icon_main">
                     <div class="social_icon">
                        <ul>
                           <li><a href="{{post.facebook}}"><img src="{% static 'images/fb-icon.png' %}"></a></li>
                           <li><a href="{{post.twitter}}"><img src="{% static 'images/twitter-icon.png' %}"></a></li>
                           <li><a href="{{post.youtube}}"><img src="{% static 'images/instagram-icon.png' %}"></a></li>
                        </ul>
                     </div>
                     <div class="read_bt"><a href="{% url 'post' post.pk %}">Read More</a></div>
                  </div>
               </div>
               <div class="col-lg-4 col-sm-12">
                  <div class="about_main">
                     <h1 class="follow_text">CONNECT & FOLLOW</h1>
                     <div class="follow_icon">
                        <ul>
                           <li><a href="{{post.facebook}}"><img src="{% static 'images/fb-icon-1.png' %}"></a></li>
                           <li><a href="{{post.twitter}}"><img src="{% static 'images/twitter-icon-1.png' %}"></a></li>
                           <li><a href="{{post.linkedin}}"><img src="{% static 'images/linkedin-icon-1.png' %}"></a></li>
                           <li><a href="{{post.youtube}}"><img src="{% static 'images/instagram-icon-1.png' %}"></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      

      {% endfor %}

      



{% endblock content %}
